.wrapper {
  padding: 30px 60px 60px 60px; 
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
margin-top: -20px;
}
.appointmentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
